<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header') %>
    <link href="/css/gameArea.css" rel="stylesheet" />
    <script>
        let players = JSON.parse('<%- JSON.stringify(players) %>');
        let curPlayer = JSON.parse('<%- JSON.stringify(curPlayer) %>');
        let gameId = '<%= gameId %>';
    </script>
    <script defer src="/javascript/canvas.js"></script>
</head>

<body>
    <div class="game-container">
        <div class="left">
            <div class="roundwrapper">
                <div class="roundcounter" id="roundCounter">Round 5</div>
                <div class="scoretarget">20</div>
            </div>

            <div class="leaderboard">
                <div class="scoretable" id="scoretable">
                    <% for (let i = 0; i < players.length; i++) { %>
                    <div id="player<%= players[i].color %>" class="player">                  
                        <div class="playerIcon"><%= i+1 %></div>
                        <div class="playerName" style="color: <%= players[i].color%>;"><%= players[i].username %></div>
                        <div class="playerScore">0</div>
                    </div>
                    <% } %>
                </div>
                <div class="loading">
                    <span class="loader"></span>
                </div>
            </div>
            <div class="chatroom">
                <ul class="textbox" id="textbox"></ul>
                <form name="chat" action="" id="form">
                    <input name="usermsg" placeholder="Chat..." type="text" id="usermsg" />
                    <button name="submitmsg" type="submit" id="submitmsg">
                        <img src="/assets/icons/arrow.svg" alt="Send" />
                    </button>
                </form>
            </div>
        </div>
        <div class="canvas-container visibility-hidden">
            <div class="btn-game-container">
                <button class="blue-btn" id="warmup-btn">Warm Up</button>
            </div>
            <canvas class="game-canvas" id="game-canvas" width="500" height="500"></canvas>
        </div>
    </div>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/javascript/game.js"></script>
</body>

</html>