<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('header') %>
    <link href="/css/gameMenu.css" rel="stylesheet" />
    <link href="/css/menuModal.css" rel="stylesheet" />
    <link href="/css/snackbar.css" rel="stylesheet" />
    <input type="hidden" id="error" value="<%= error ? error : false %>" />
    <script defer src="/javascript/menuModal.js"></script>
</head>

<body>
    <div class="game-menu-container">
        <div class="header">
            <div class="header-container">
                <button class="logo" onclick="location.href = '/'""> <%- include('../public/assets/icons/Logo.svg') %> </button>
                <div class=" user-info">
                    <div class="border-container points">0</div>
                    <i class="fa-solid fa-user icon user-icon"></i>
                    <div class="user-name"><%= user.name ? user.name : "Bruh" %></div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <div class="game-btns">
            <button class="red-btn quickplay button-input" onclick="location.href = '/game/play'"">
                    Quickplay
                </button>
                <button onclick=" createMenuModal('join')" class=" green-btn join button-input">
                Join Game
            </button>
            <button onclick="createMenuModal('create')" class="blue-btn create button-input">
                Create Game
            </button>
            <button onclick="displayShop()" class="yellow-btn shop-game-btn button-input">
                Shop
            </button>
        </div>
        <div class="shop">
            <i class="fa-solid fa-xmark modal-cross" onclick="displayShop()" tabindex="0"></i>
            <div class="shop-btns">
                <button onclick="changeFocus(true)" id="skins-btn" class="shop-btn active">Skins</button>
                <button onclick="changeFocus(false)" id="icons-btn" class="shop-btn">Icons</button>
            </div>
            <div class="content">
                <% for (let i = 0; i < 11; i++) { %>
                <button onclick="createMenuModal('shop', 'line<%=i+1%>')" class="shop-item">
                    <img class="shop-item-img" src="/assets/images/line<%=i+1%>.svg" alt="skin-item">
                </button>
                <% } %>
            </div>
        </div>
        <div onclick="displayShop()" class="shop-overlay"></div>
    </div>
    <%- include('footer') %>
    </div>
    <%- include('partials/menuModal') %>
    <% if(error) { %>
        <div id="snackbar"></div>
    <%} %>
    <script> const error = "<%= error %>"; </script>
    <script src="/javascript/snackbar.js"></script>
    <script src="/javascript/index.js"></script>
</body>

</html>